name: Backend CI/CD Pipeline to AWS

on:
    push:
        branches: [main, staging, clean]
    pull_request:
        branches: [staging]

jobs:
    build:
        if: >
            github.event_name == 'push' && (
              github.ref == 'refs/heads/main' ||
              github.ref == 'refs/heads/staging'
            ) ||
            github.event_name == 'pull_request' && github.base_ref == 'staging'
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Docker
              uses: docker/setup-buildx-action@v2
              with:
                  buildkitd-flags: --debug

            - name: Setup golang
              uses: actions/setup-go@v4
              with:
                  go-version: "1.21"
              env:
                  PORT: 8080
                  ALLOWED_ORIGINS: "http://localhost:5173,http://localhost:3000"
                  COOKIE_DOMAINS: "localhost,example.com"
                  SECURE_COOKIE: false
                  MONGO_URI: ${{ secrets.MONGO_URI }}
                  DB_NAME: much_todo_db
                  JWT_SECRET_KEY: "your-super-secret-key-that-is-long-and-random"
                  JWT_EXPIRATION_HOURS: 2
                  VITE_BASE_API_URL: ${{ secrets.VITE_BASE_API_URL }}
                  LOG_LEVEL: "DEBUG"
                  LOG_FORMAT: "json"
                  INTEGRATION: true
                  # ENABLE_CACHE: true
                  REDIS_ADDR: localhost:6379
                  REDIS_PASSWORD: ""

            - name: Install dependencies and setup .env file
              run: |
                  cd backend/
                  go mod download

            - name: Scan code for exposed secrets
              uses: github/codeql-action/analyze@v2
              with:
                  category: "secret-scanning"

            - name: Run the unit tests for Go
              run: |
                  cd backend/
                  go test ./...

            - name: Run integration tests for Go
              run: |
                  cd backend/
                  INTEGRATION=true go test -v --tags=integration ./...

            - name: Build the docker image
              run: |
                  cd backend/
                  docker build -t muchtodo:latest .

            - name: Login to Docker Hub
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKER_HUB_USERNAME }}
                  password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

            - name: Push image to Docker Hub
              run: |
                  docker tag muchtodo:latest ${{ secrets.DOCKER_HUB_USERNAME }}/muchtodo:latest
                  docker push ${{ secrets.DOCKER_HUB_USERNAME }}/muchtodo:latest

    deploy:
        runs-on: ubuntu-latest
        needs: build
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        steps:
            - name: Connect to the server via ssh
              uses: appleboy/ssh-action@v0.1.7
              with:
                  host: ${{ secrets.SERVER_HOST }}
                  username: ${{ secrets.SERVER_USER }}
                  key: ${{ secrets.SERVER_SSH_KEY }}
                  port: ${{ secrets.SERVER_SSH_PORT }}
                  script: |
                      docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} -p ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
                      docker pull ${{ secrets.DOCKER_HUB_USERNAME }}/muchtodo:latest
                      docker stop muchtodo || true
                      docker rm muchtodo || true
                      docker run -d --name muchtodo -p 80:8080 ${{ secrets.DOCKER_HUB_USERNAME }}/muchtodo:latest

    cleanup:
        runs-on: ubuntu-latest
        if: github.event_name == 'push' && github.ref == 'refs/heads/clean'
        steps:
            - name: Connect to the server via ssh
              uses: appleboy/ssh-action@v0.1.7
              with:
                  host: ${{ secrets.SERVER_HOST }}
                  username: ${{ secrets.SERVER_USER }}
                  key: ${{ secrets.SERVER_SSH_KEY }}
                  port: ${{ secrets.SERVER_SSH_PORT }}
                  script: |
                      docker stop muchtodo || true
                      docker rm muchtodo || true
                      docker rmi ${{ secrets.DOCKER_HUB_USERNAME }}/muchtodo:latest || true
                      docker system prune -af
                      echo "Cleanup completed."
