name: Frontend CI/CD Pipeline to AWS

on:
  push:
    branches: [main, staging, clean]
  pull_request:
    branches: [staging]

jobs:
  build:
    if: >
      github.event_name == 'push' && (
        github.ref == 'refs/heads/main' ||
        github.ref == 'refs/heads/staging'
      ) ||
      github.event_name == 'pull_request' && github.base_ref == 'staging'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install dependencies and setup .env file
        run: |
          cd frontend/
          npm install

      # - name: Scan code for exposed secrets
      #   uses: github/codeql-action/analyze@v2
      #   with:
      #     category: "secret-scanning"

      - name: Build frontend app
        run: |
          cd frontend/
          npm run build
        env:
          VITE_API_BASE_URL: ${{ secrets.VITE_API_BASE_URL }}

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: frontend-build
          path: |
            frontend/dist/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: frontend-build

      - name: Set up AWS CLI
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: "eu-west-2"

      - name: List directory structure (debug)
        run: |
          ls -la
          # echo "---"
          # ls -la frontend/ || echo "No frontend directory"
          # echo "---"
          # ls -la frontend/dist/ || echo "No dist directory"

      - name: Deploy Frontend to AWS S3
        run: |
          aws s3 sync . s3://${{ secrets.BUCKET_NAME }} --delete

  cleanup:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/clean'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up AWS CLI
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: "eu-west-2"

      - name: Clean up resources
        run: |
          aws s3 rm s3://${{ secrets.BUCKET_NAME }} --recursive || echo "S3 bucket might not exist"
          echo "Cleanup completed."
